<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node.js Authentication</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <style>
      header {
        background: #ffd89b;
        background: -webkit-linear-gradient(to right, #19547b, #ffd89b);
        background: linear-gradient(to right, #19547b, #ffd89b);
        color: #ffd700;
        padding: 10px;
        text-align: center;
        font-family: monospace;
      }
    </style>
  </head>
  <body>
    <header>
      <h1 style="font-size: 30px">Node.js Authentication</h1>
    </header>
    <main>
      <!-- This is where content from other pages will be injected -->
      <%- body %>
    </main>
  </body>
</html>
